version: "3.9"

services:
  home_finance:
    container_name: home_finance
    mem_limit: 256m
    build:
      context: ./
      dockerfile: ./Dockerfile
    working_dir: /app/
    ports:
      - 8085:8080
    volumes:
      - ./:/app
      - ./node_modules:/app/node_modules
    command: ["sh", "-c", "npm install && npm run serve"]
    networks:
      - home-finance-network

networks:
  home-finance-network:
    external: true
